# Matlab temp files
matlab/*.m~

# soft builds
soft/build

# soft wifi_credentials
soft/main/wifi_credentials.h

# soft tests build 
soft/main/tests/*/build

# FreeCAD temp files
meca/CAD/*.FCStd1
meca/CAD/*.fcstd1

# Hardware PCB gerbers
hardware/gerber
hardware/quadcopter.xml

#vscode
soft/.vscode/ipch/
soft/.vscode/settings.json

# python virtual env
soft/.venv