# Matlab temp files
matlab/*.m~

# soft builds
software/flight_controller/build

# soft wifi_credentials
software/flight_controller/main/wifi_credentials.h

# soft tests build
software/flight_controller/main/tests/*/build

# FreeCAD temp files
meca/CAD/*.FCStd1
meca/CAD/*.fcstd1

# Hardware PCB gerbers
hardware/gerber
hardware/quadcopter.xml

# vscode
software/flight_controller/.vscode/ipch

# python virtual env
env/.venv

# python cache
__pycache__

# temporary build filesystem
soft/main/storage_img
software/flight_controller/main/storage_img

# KICAD Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
rescue-backup

# KICAD Netlist files (exported from Eeschema)
*.net
